// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
  text-align: center;
}

body {
  font-family: 'Nunito';

  .welcome {
    text-align: center;
  }
}

footer {
  text-align: center;
}
