// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
  text-align: center;
}

main {
  font-family: 'Nunito';

  .welcome {
    text-align: center;
  }
}

footer {
  text-align: center;
}
