// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1 {
  font-size: 1.2rem;
  font-family: cursive;
  margin-bottom: 0;
}

header {
  text-align: center;
}

main {
  font-family: 'Nunito';

  .welcome {
    text-align: center;
  }

  .admin {

    &-album-index {
      text-align: center;

      form {
        display: inline;

        button {
          padding: 0;
          background: unset;
          border: unset;
        }
      }

      ul {
        list-style: none;
      }
    }
    &-album-create {
      text-align: center;
    }
  }
}

footer {
  padding: 0.5rem 1rem;
  line-height: 60px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
